:root {
  --background-color: #212121;
  --calendar-color: #2f2f2f;
  --custom-text-color: #e1e1e1;
}

html, tr, td, th, p {
  color: var(--custom-text-color);
}

body {
  background-color: var(--background-color);
}
