.navContainer {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: var(--navbar-color);
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
    align-items: center;
}

.navUlPhone {
    display: flex !important;
}

.navUlPc {
    display: none !important;
}

.horizontalList {
    display: flex;
    list-style: none;
    position: fixed;
    top: -4rem;
    left: 0;
    right: 0;
    background: var(--navbar-color);
    flex-direction: column;
    margin: 0;
    transition-duration: 0.5s;
    padding: 0;
}

.horizontalList li {
    margin: 0.75rem 0;
}

.navButton {
    display: block;
    background: none;
    border: none;
    font-size: 1rem;
    transition-duration: 0.3s;
}

.navButton:hover {
    opacity: 0.7;
}

@media screen and (min-width: 768px){
    .horizontalList {
        position: static;
        display: flex;
        background: none;
        flex-direction: row;
    }
    .navUlPc {
        display: flex !important;
        position: static !important;
    }
    .horizontalList li {
        margin-left: 1rem;
    }
    .navButton {
        display: none;
    }
    .navUlPhone {
        display: none !important;
    }
}

.navActive {
    position: fixed;
    visibility: visible;
    display: flex;
    top: 4rem;
    transition-duration: 0.5s;
}


.horizontalList li a {
    color: var(--custom-text-color);
    text-decoration: none;
    transition-duration: 0.3s;
    cursor: pointer;
}

.horizontalList li:hover a {
    opacity: 0.7;
}


