.navContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--navbar-color);
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
}

.horizontalList {
    display: flex;
    list-style: none;
}

.horizontalList li {
    margin-right: 10px;
}

.horizontalList li a {
    color: var(--custom-text-color);
    text-decoration: none;
}